
.hello{
    background-color: black;
}


.d{
    font-size: 20px;
    color: white;
}

.but{
    color: red;
    font-size: 25px;
}

.all{
    color: red;
    font-size: 25px;
}

.by{
    color: red;
    font-size: 25px;
}