html{
	font-size: 100%;
	box-sizing: border-box;
}

/* General Styling */
.hide-on-mobile{
	display: none !important;
}

@media (min-width:  992px){
	.hide-on-mobile{
		display: unset !important;
	}
	.hide-on-desktop{
		display: none !important;
	}
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* CSS for Header Section */

header{
	display: flex;
	justify-content: flex-end;
	background-color: lightblue;
	padding: 0rem 1rem;
	align-items: center;
}

.logo{
	margin-right: auto;
}

.logo img{
	width: 80px;
}
.nav-list {
	list-style: none;
	display: inline;
}

.nav-list li{
	display: inline;
	padding: 0 2rem;
}

.nav-list li a{
	text-decoration: none;
	color: white;
}

.nav-list li a:Hover{
	text-decoration: none;
	color: blue;
}

.action-button{
	text-decoration: none;
	color: white;
	background-color: blue;
	padding: 0.5rem 1rem;
	border-radius: 5px;

}
.hamburger{
	margin-left: 1.5rem;
	z-index: 4;
}


.hamburger div{
	width: 25px;
	height: 2px;
	margin: 6px 0;
	background-color: blue;
}


.mobile-nav{
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: wrap;
	justify-content: right;
	align-items: center;
	position: absolute;
	top: -10000vh;
	z-index: 3;
}

.mobile-nav li{
	text-align: right;
	text-decoration: none;
	display: block;
	padding: 0.5rem 1rem;


}

.mobile-nav a{
	text-decoration: none;
	color: black;
	font-size: 2rem;
}

.mobile-nav-change{
	top: 0;
}

